<ul class="sidebar">
    <li>
        <button mat-button color="primary" routerLink="dashboard" routerLinkActive="active-link">
            <span class="material-icons">
                donut_small
            </span>
        </button>
    </li>
    <!-- <li>
        <button mat-button color="primary" routerLink="user" routerLinkActive="active-link">
            <span class="material-icons">
                face
            </span>
        </button>
    </li> -->
    <li>
        <button mat-button color="primary" routerLink="table" routerLinkActive="active-link">
            <span class="material-icons">
                backup_table
            </span>
        </button>
    </li>
</ul>